.test{
    height: 100px;
}

.name-website{
    padding-top: 13px;
}

.color-white{
    color: white;
}

.font-timeNewRoman{
    font-family: 'Times New Roman', Times, serif;
}

.font-120{
    font-size: 140%;
}

.bg-header{
    background-color: #3b276e;
}

.logo-website{
    margin-left: 5px;
}

.font-60{
    font-size: 60%;
}

.search-form{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: 1px solid purple;
    height: 47px;
    width: 300px;
    padding-left: 40px;
}

.search-button{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border: 1px solid purple;
    margin-left: -69px;
    height: 47px;
    width: 110px;
    font-size: 130%;
    color: white;
    background-color: rgb(216, 166, 72);
    cursor: pointer;
}

.profile {
    width: 37px; /* Điều chỉnh kích thước theo ý muốn */
    cursor: pointer;
}
  
.avatar {
    display: block;
    border: 2px solid white;
    border-radius: 50%; /* Tạo hình tròn */
    object-fit: cover; /* Đảm bảo ảnh sẽ fit với kích thước hình tròn */
    margin-top: 14px;
    width: 20px;
    height: 60px;
}

#showImage {
    display: block;
    border: 2px solid white;
    border-radius: 50%; /* Tạo hình tròn */
    object-fit: cover; /* Đảm bảo ảnh sẽ fit với kích thước hình tròn */
    margin-top: 14px;
    width: 20px;
    height: 50px;
}

.avatar2 {
    display: block;
    border: 2px solid white;
    height: 60px;
    border-radius: 50%; /* Tạo hình tròn */
    object-fit: cover; /* Đảm bảo ảnh sẽ fit với kích thước hình tròn */
}


.info {
    background-color: grey;
    position: absolute;
    left: -196%;
    top: 92%;
    width: 350px;
    height: 61vh;
    background: rgb(54, 78, 145);
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 10000;
}

.functions{
    border-right: 1px solid rgb(238, 235, 235);
    height: 86vh;
}

.user-info{
    border-bottom: 1px solid rgb(238, 235, 235);
}

.name-user{
    font-size: 160%;
}

.title-function{
    font-size: 130%;
    color: rgb(66, 66, 66);
}

.function-item{
    font-size: 140%;
    height: 22px;
    margin-top: 35px;
    padding-left: 10px;
}

.icon-search{
    position: absolute;
    top:23%;
    left: 22px;
    font-size: 160%;
    color: #6c757d;
}

.logo-function{
    padding-top: 3px;
}

.name-function, .logo-function{
    cursor: pointer;
}

.name-function{
    border-radius: 4px;
}

.content{
    font-size: 130%;
    height: 650px;
    overflow: auto;
    z-index: 6;
    padding: 0%;
}

.pj{
    font-size: 140%;
}

.mt{
    font-size: 190%;
}

.border-bottom{
    border-bottom: 1px solid grey;
    margin-top: 40%;
}

#edit-profile:hover, #logout:hover{
    color: rgb(24, 24, 255);
}

#edit-profile, #logout {
    color: white;
}

.warning{
    font-size: 120%;
}

.here{
    font-size: 150%;
}

.anh_dai_dien{
    position: absolute;
    left: -950%;
    display: none;
    z-index: 10000;
}

.anh_dai_dien img{
    width: 800px;
}

.bg-projects{
    background-color: rgb(241, 222, 219);
    color: rgb(165, 155, 154);
    font-weight: 300;
}

.ss{
    background-color: rgb(214, 207, 207);
}
























